<table class="table table-striped">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Jurylid</th>
      <th>Totaalbedrag</th>
      <th>Rang</th>
      <th>Laatste locatie</th>
      <th>Laatste update</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="team in data.teams | objectOrderBy:balanceSort:true">
      <td><a href="/team/{{team.$id}}">{{team.name}}</a></td>
      <td>{{data.users[team.judge].name}}</td>
      <td>{{data.events.balance(team._id)}}</td>
      <td>{{data.teamRank(team._id) + 1}}</td>
      <td>{{data.events.latestLocation(team._id)}}</td>
      <td>{{data.events.latest(team._id)}}</td>
    </tr>
  </tbody>
</table>

<ui-gmap-google-map center='map.center' zoom='map.zoom'>

<ui-gmap-marker
        ng-repeat='marker in markers'
        idKey='marker.idKey'
        coords='marker.coords'
        >
</ui-gmap-marker>

</ui-gmap-google-map>
