<table class="table table-striped">
  <thead>
    <tr>
      <th>Naam</th>
      <th>Jurylid</th>
      <th>Totaalbedrag</th>
      <th>Rang</th>
      <th>Laatste locatie</th>
      <th>Laatste update</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="(id, team) in data.teams">
      <td>{{team.name}}</td>
      <td>{{data.users[team.judge].name}}</td>
      <td>{{data.events.balance(id)}}</td>
      <td>{{data.teamRank(id) + 1}}</td>
      <td>{{data.events.latestLocation(id)}}</td>
      <td>{{data.events.latest(id)}}</td>
    </tr>
  </tbody>
</table>
