<div ng-include="'partials/team/info.html'" class='col-md-4'/>
<div ng-include="'partials/team/members.html'" class='col-md-8'/>

<div class='clearfix'></div>

<div ng-include="'partials/team/streets.html'" class='col-md-9'/>
<div class="col-md-3">
  <div ng-include="'partials/team/add_street.html'"/>
  <div ng-include="'partials/team/add_hotel.html'"/>
</div>

<div class='clearfix'></div>

<div ng-include="'partials/team/tasks.html'" class='col-md-9'/>
<div ng-include="'partials/team/add_task.html'" class='col-md-3'/>

<div class='clearfix'></div>

<div ng-include="'partials/team/cards.html'" class='col-md-12'/>

<div class='clearfix'></div>

<div ng-include="'partials/team/straight.html'" class='col-md-4'/>
<div ng-include="'partials/team/straight.html'" class='col-md-4'/>
<div ng-include="'partials/team/straight.html'" class='col-md-4'/>
