<div class="alert alert-warning" role="alert">
  Houdt <a href="https://docs.google.com/document/d/1cpitmdsbL45JZ630jCwjRQV_SkrgU1bTGYmS_ihMpEc/edit?usp=sharing" class="alert-link">het document met uitzonderingen</a> in de gaten!
</div>

<div ng-include="'partials/team/info.html'" class='col-md-4'></div>
<div ng-include="'partials/team/members.html'" class='col-md-8'></div>

<div class='clearfix'></div>

<div ng-include="'partials/team/streets.html'" class='col-md-9'></div>
<div class="col-md-3">
  <div ng-include="'partials/team/add_street.html'"></div>
  <div ng-include="'partials/team/add_hotel.html'"></div>
</div>

<div class='clearfix'></div>

<div ng-include="'partials/team/tasks.html'" class='col-md-9'></div>
<div ng-include="'partials/team/add_task.html'" class='col-md-3'></div>

<div class='clearfix'></div>

<div ng-include="'partials/team/cards.html'" class='col-md-12'></div>

<div class='clearfix'></div>

<div ng-include="'partials/team/straight.html'" class='col-md-4'></div>
<div ng-include="'partials/team/straight.html'" class='col-md-4'></div>
<div ng-include="'partials/team/straight.html'" class='col-md-4'></div>
