<h3>Straat toevoegen</h3>
<form>
  <div class='form-group'>
    <label for='streetName'>Straatnaam:</label>
    <input type='text' class='form-control' id='streetName' placeholder='Voer straatnaam in' ng-model='streetForAdd.name'>
    <label for='streetLocation'>Stad:</label>
    <select class='form-control' id='streetLocation' ng-model='streetForAdd.city_id'>
      <option value="" disabled selected>Selecteer een stad</option>
      <option ng-repeat='city in cities' value='{{city.$id}}'>{{city.name}}</option>
    </select>
  </div>
  <button ng-disabled="!(streetForAdd.name && streetForAdd.cityid)" type='submit' class='btn btn-info' ng-click='addStreet(streetForAdd); streetForAdd=""'>Toevoegen</button>
</form>
