<h3>Nieuwe gebruiker toevoegen</h3>
<form>

  <div class='form-group'>
    <label for='userName'>Naam:</label>
    <input type='text' class='form-control' id='userName' placeholder='Voer naam in' ng-model='user.name'>
  </div>

  <div class='form-group'>
    <label for='userEmail'>Emailadres:</label>
    <input type='text' class='form-control' id='userEmail' placeholder='Voer emailadres in' ng-model='user.mail'>
  </div>

  <div class='form-group'>
    <label for='userPhone'>Telefoonnummer:</label>
    <input type='text' class='form-control' id='userPhone' placeholder='Voer telefoonnummer in' ng-model='user.phone'>
  </div>

  <div class='checkbox'>
    <label>
      <input type='checkbox' id='userSmarthphone' ng-model='user.smartphone'> Smartphone?
    </label>
  </div>

  <div class='form-group'>
    <label for='userSociety'>Vereniging:</label>
    <select class='form-control' id='userSociety' ng-model='user.society'>
      <option value="" disabled selected>Selecteer een vereniging</option>
      <option ng-repeat='society in societies' value='{{society.$id}}'>{{society.name}}</option>
    </select>
  </div>

  <div class='checkbox'>
    <label>
      <input type='checkbox' id='userJudge' ng-model='user.roles.judge'> Jurylid?
    </label>
  </div>

  <button ng-disabled="!(user.name && user.mail && user.phone && user.society)" type='submit' class='btn btn-info' ng-click='addUser(user); user=""'>Toevoegen</button>

</form>
