<h3>Gebeurtenissen</h3>
<form>
  <div class='checkbox'>
    <label>
      <input type='checkbox' ng-model='events.all'> Alle laten zien
    </label>
  </div>
  <div class='form-group' ng-hide="events.all">
    Laatste zoveel laten zien:
    <input style="width: 100px" type='number' class='form-control' ng-init="events.amount = 15" ng-model='events.amount'>
  </div>
  <div class='form-group'>
    <select class='form-control' id='events-team' ng-model='events.team'>
      <option value="" disabled selected>Selecteer een team</option>
      <option ng-repeat='(id, team) in data.teams' value='{{id}}'>{{team.name}}</option>
    </select>
  </div>
  <div class="panel-body" ng-show="events.team">
    <table class="table">
      <thead>
        <th>Type</th>
        <th>Tijd</th>
        <th>Data</th>
        <th>Inactief</th>
      </thead>
      <tr ng-repeat="(id, event) in data.events | filter:{'team': events.team} | orderBy:'timestamp':true | limitTo:15">
        <td><span ng-show="event.undo" class="glyphicon glyphicon-share-alt"></span> {{event.type}}</td>
        <td>{{event.timestamp | date:'H:mm:ss'}}</td>
        <td>
          <div ng-repeat="(key, value) in event.data">
            <div>{{key}}: {{value}}</div>
          </div>
        </td>
        <td>
            <button ng-show="event.active" type="button" class="btn btn-info btn-xs" ng-click="data.toggleEvent(event._id)"><span class="glyphicon glyphicon-ok-circle"></span></button>
            <button ng-hide="event.active" type="button" class="btn btn-warning btn-xs" ng-click="data.toggleEvent(event._id)"><span class="glyphicon glyphicon-ban-circle"></span></button>
        </td>
      </tr>
    </table>
  </div>
</form>
