<h3>Gebruikersrechten</h3>
<form>
  <div class='form-group'>
    <label for='userRights'>Gebruiker:</label>
    <select class='form-control' id='userRights' ng-model='userRightsId'>
      <option value="" disabled selected>Selecteer een gebruiker</option>
      <option ng-repeat='(id, user) in data.users' value='{{id}}'>{{user.name}}</option>
    </select>
  </div>
  <div ng-show='userRightsId'>
    <div class='checkbox'>
      <label>
        <input type='checkbox' id='userJury' ng-model='isJudge' ng-init='isJudge=false;'> Jury?
      </label>
    </div>
    <div class='checkbox'>
      <label>
        <input type='checkbox' id='userAdmin' ng-model='isAdmin' ng-init='isAdmin=false;'> Admin?
      </label>
    </div>
  </div>


  <button ng-disabled='!userRightsId' type='submit' class='btn btn-info' ng-click='submitGiveRights(userRightsId, isJudge, isAdmin); userRightsId="";isJudge=false;isAdmin=false'>Veranderen</button>
</form>
