<h3>Straat verwijderen</h3>
<form>
  <div class='form-group'>
    <label for='streetNameRemove'>Straat:</label>
    <select class='form-control' id='streetNameRemove' ng-model='streetForDelete'>
      <option value="" disabled selected>Selecteer een straat</option>
      <option ng-repeat='street in streets' value='{{street.$id}}'>{{street.name}}</option>
    </select>
  </div>
    <button ng-disabled="!streetForDelete" type='submit' class='btn btn-info' ng-click='deleteStreet(streetForDelete); streetForDelete=""'>Verwijderen</button>

</form>
