<h3>Gebruiker uit team verwijderen</h3>
<form>
  <div class='form-group'>
    <label for='teamMemberTeamDelete'>Team:</label>
    <select class='form-control' id='teamMemberTeamDelete' ng-model='teamId'>
      <option value="" disabled selected>Selecteer een team</option>
      <option ng-repeat='(id, team) in data.teams' value='{{id}}'>{{team.name}}</option>
    </select>
  </div>
  <div ng-show='teamId' class='form-group'>
      <label for='teamMemberDelete'>Lid:</label>
      <select class='form-control' id='teamMemberDelete' ng-model='memberId'>
        <option value="" disabled selected>Selecteer een gebruiker</option>
        <option ng-repeat='(id, user) in data.users' ng-show='user.team === teamId' value='{{id}}'>{{user.name}}</option>
      </select>
  </div>
  <button ng-disabled='!(teamId && memberId)' type='submit' class='btn btn-info' ng-click='submitRemoveMember(memberId); teamId=""; memberId=""'>Verwijderen</button>
</form>
