<h3>Hotel verwijderen</h3>
<form>
  <div class='form-group'>
    <label for='cityHotelRemove'>Stad:</label>
    <select class='form-control' id='cityHotelRemove' ng-model='cityHotelRemove'>
      <option value="" disabled selected>Selecteer een stad</option>
      <option ng-repeat='city in data.cities' value='{{city.$id}}'>{{city.name}}</option>
    </select>
  </div>
    <div class='form-group' ng-show='cityHotelRemove'>
      <label for='streetHotelRemove'>Straat:</label>
      <select class='form-control' id='streetHotelRemove' ng-model='streetHotelRemove'>
        <option value="" disabled selected>Selecteer een straat</option>
        <option ng-repeat='street in data.streets' ng-show='street.hotel_team_id' value='{{street.$id}}'>{{street.name}}</option>
      </select>
    </div>
    <button ng-disabled='!(cityHotelRemove && streetHotelRemove)' type='submit' class='btn btn-info' ng-click='removeHotel(streetHotelRemove); cityHotelRemove=""; streetHotelRemove="";'>Verwijderen</button>
</form>
