<h3>Gebruiker verwijderen</h3>
<form>
  <div class='form-group'>
    <label for='userDelete'>Gebruiker:</label>
    <select class='form-control' id='userDelete' ng-model='userForDelete'>
      <option value="" disabled selected>Selecteer een gebruiker</option>
      <option ng-repeat='user in users' value='{{user.$id}}'>{{user.name}}</option>
    </select>
  </div>
  <button ng-disabled='!userForDelete' type='submit' class='btn btn-info' ng-click='deleteUser(userForDelete); userForDelete=""'>Verwijderen</button>
</form>
