<h3>Kanskaart verwijderen</h3>
<form>
  <div class='form-group'>
    <label for='cardRemove'>Kanskaart:</label>
    <select class='form-control' id='cardRemove' ng-model='cardForDelete'>
      <option value="" disabled selected>Selecteer een kaart</option>
      <option ng-repeat='(id,card) in data.cards' value='{{id}}'>{{card.name}}</option>
    </select>
  </div>
    <button ng-disabled='!cardForDelete' type='submit' class='btn btn-info' ng-click='deleteCard(cardForDelete); cardForDelete=""'>Verwijderen</button>
</form>
