<h3>Straat onbezoeken</h3>
<form>
  <div class='form-group'>
    <label for='teamUnvisit'>Team:</label>
    <select class='form-control' id='teamUnvisit' ng-model='teamIdUnvisit'>
      <option value="" disabled selected>Selecteer een team</option>
      <option ng-repeat='team in data.teams' value='{{team.$id}}'>{{team.name}}</option>
    </select>
  </div>
  <div class='form-group' ng-show='teamIdUnvisit'>
    <label for='cityUnvisit'>Stad:</label>
    <select class='form-control' id='cityUnvisit' ng-model='cityIdUnvisit'>
      <option value="" disabled selected>Selecteer een stad</option>
      <option ng-repeat='city in data.cities' value='{{city.$id}}'>{{city.name}}</option>
    </select>
  </div>
  <div class='form-group' ng-show='cityIdUnvisit'>
    <label for='streetUnvisit'>Straat:</label>
    <select class='form-control' id='streetUnvisit' ng-model='streetIdUnvisit'>
      <option value="" disabled selected>Selecteer een straat</option>
      <option ng-repeat="(id, street) in data.streets" ng-show="street.visited[teamIdUnvisit]" value='{{id}}'>{{street.name}}</option>
    </select>
  </div>
    <button ng-disabled='!(teamIdUnvisit && cityIdUnvisit && streetIdUnvisit)' type='submit' class='btn btn-info' ng-click='unvisitStreet(streetIdUnvisit, teamIdUnvisit); teamIdUnvisit=""; streetIdUnvisit=""; cityIdUnvisit=""'>Onbezoeken</button>
</form>
