<h2>Nieuwe gebruiker toevoegen</h2>
<form>
  <div class='form-group'>
    <label for='userName'>Naam</label>
    <input type='text' class='form-control' id='userName' placeholder='Voer naam in' ng-model='user.name'>
  </div>
  <div class='form-group'>
    <label for='userEmail'>Emailadres</label>
    <input type='text' class='form-control' id='userEmail' placeholder='Voer emailadres in' ng-model='user.mail'>
  </div>
  <div class='form-group'>
    <label for='userPhone'>Telefoonnummer</label>
    <input type='text' class='form-control' id='userPhone' placeholder='Voer telefoonnummer in' ng-model='user.phone'>
  </div>
  <div class='checkbox'>
    <label>
      <input type='checkbox' id='userJudge' ng-model='user.roles.judge'> Jurylid?
    </label>
  </div>

  <div class='checkbox'>
    <label>
      <input type='checkbox' id='userSmarthphone' ng-model='user.smartphone'> Smartphone?
    </label>
  </div>

  <button type='submit' class='btn btn-primary' ng-click='addUser(user); user={}'>Toevoegen</button>
</form>

<h2>Gebruiker verwijderen</h2>
<form>
  <div class='form-group'>
    <label for='userDelete'>Gebruiker:</label>
    <select class='form-control' id='userDelete' ng-model='userForDelete'>
      <option ng-repeat='user in users' value='{{user.$id}}'>{{user.name}}</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='deleteUser(userForDelete); userForDelete=""'>Verwijderen</button>
</form>

<h2>Nieuw team toevoegen</h2>
<form>
  <div class='form-group'>
    <label for='teamName'>Naam:</label>
    <input type='text' class='form-control' id='teamName' placeholder='Voer naam in' ng-model='team.name'>
  </div>
  <div class='form-group'>
    <label for='judge'>Jurylid:</label>
    <select class='form-control' id='judge' ng-model='team.judge'>
      <option ng-repeat='user in users | filter: judgeFilter' value='{{user.$id}}'>{{user.name}}</option>
    </select>
  </div>
  <div class='form-group'>
    <label for='teamMembers'>Leden:</label>
    <select id='teamMembers' multiple='multiple' height='500px' ng-model='teamMembers'>
      <option ng-repeat='user in users | filter: eligibleMemberFilter' value='{{user.$id}}'>{{user.name}}</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='addTeam(team, teamMembers); team={}'>Toevoegen</button>
</form>

<h2>Team verwijderen</h2>
<form>
  <div class='form-group'>
    <label for='teamDelete'>Team:</label>
    <select class='form-control' id='teamDelete' ng-model='teamForDelete'>
      <option ng-repeat='team in teams' value='{{team.$id}}'>{{team.name}}</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='deleteTeam(teamForDelete); teamForDelete=""'>Verwijderen</button>
</form>

<h2>Stad toevoegen</h2>
<form>
  <div class='form-group'>
  <label for='cityAdd'>Stad:</label>
  <input type='text' class='form-control' id='cityName' placeholder='Voer stadsnaam in' ng-model='cityToAdd.name'>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='addCity(cityToAdd); cityToAdd={}'>Toevoegen</button>
</form>

<h2>Stad verwijderen</h2>
<form>
  <div class='form-group'>
  <label for='cityDelete'>Stad:</label>
  <select class='form-control' id='cityDelete' ng-model='cityForDelete'>
    <option ng-repeat='city in cities' value='{{city.$id}}'>{{city.name}}</option>
  </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='deleteCity(cityForDelete); cityForDelete=""'>Verwijderen</button>
</form>

<h2>Straat toevoegen</h2>
<form>
  <div class='form-group'>
    <label for='streetName'>Straatnaam:</label>
    <input type='text' class='form-control' id='streetName' placeholder='Voer straatnaam in' ng-model='streetForAdd.name'>
    <label for='streetLocation'>Stad:</label>
    <select class='form-control' id='streetLocation' ng-model='streetForAdd.city_id'>
      <option ng-repeat='city in cities' value='{{city.$id}}'>{{city.name}}</option>
    </select>
    </div>
    <button type='submit' class='btn btn-primary' ng-click='addStreet(streetForAdd); streetForAdd={}'>Toevoegen</button>
</form>

<h2>Straat verwijderen</h2>
<form>
  <div class='form-group'>
    <label for='streetNameRemove'>Straat:</label>
    <select class='form-control' id='streetNameRemove' ng-model='streetForDelete'>
      <option ng-repeat='street in streets' value='{{street.$id}}'>{{street.name}}</option>
    </select>
    <button type='submit' class='btn btn-primary' ng-click='deleteStreet(streetForDelete); streetForDelete=""'>Verwijderen</button>
  </div>
</form>

<h2>Opdracht toevoegen</h2>
<form>
  <div class='form-group'>
    <label for='taskNameAdd'>Naam:</label>
    <input type='text' class='form-control' id='taskNameAdd' placeholder='Voer de naam van de opdracht in' ng-model='task.name'>

    <div class='checkbox'>
      <label>
        <input type='checkbox' id='taskRankableAdd' ng-model='task.rankable'> Rangorde?
      </label>
    </div>

    <div ng-show='task.rankable'>
      <label for='taskReward1Add'>1e prijs:</label>
      <input type='number' class='form-control' min='1' id='taskReward1Add' ng-model='task.rank1_reward'>
      <label for='taskReward2Add'>2e prijs:</label>
      <input type='number' class='form-control' min='1' id='taskReward2Add' ng-model='task.rank2_reward'>
      <label for='taskReward3Add'>3e prijs:</label>
      <input type='number' class='form-control' min='1' id='taskReward3Add' ng-model='task.rank3_reward'>
    </div>

    <div ng-hide='task.rankable'>
      <label for='taskRewardAdd'>Beloning (in €):</label>
      <input type='number' class='form-control' id='taskRewardAdd' ng-model='task.reward'>
      <label for='taskRepeatableAdd'>Hoevaak herhaalbaar?</label>
      <input type='number' class='form-control' min='1' id='taskRepeatableAdd' ng-model='task.repeatable'>
    </div>


    <button type='submit' class='btn btn-primary' ng-click='addTask(task); task={}'>Toevoegen</button>
  </div>
</form>

<h2>Opdracht verwijderen</h2>
  <form>
    <div class='form-group'>
      <label for='taskRemove'>Task:</label>
      <select class='form-control' id='taskRemove' ng-model='taskForDelete'>
        <option ng-repeat='task in tasks' value='{{task.$id}}'>{{task.name}}</option>
      </select>
      <button type='submit' class='btn btn-primary' ng-click='deleteTask(taskForDelete); taskForDelete=""'>Verwijderen</button>
    </div>
  </form>
