<h2>Nieuwe gebruiker toevoegen</h2>
<form>
  <div class='form-group'>
    <label for='userName'>Naam</label>
    <input type='text' class='form-control' id='userName' placeholder='Voer naam in' ng-model='user.name'>
  </div>
  <div class='form-group'>
    <label for='userEmail'>Emailadres</label>
    <input type='text' class='form-control' id='userEmail' placeholder='Voer emailadres in' ng-model='user.mail'>
  </div>
  <div class='form-group'>
    <label for='userPhone'>Telefoonnummer</label>
    <input type='text' class='form-control' id='userPhone' placeholder='Voer telefoonnummer in' ng-model='user.phone'>
  </div>
  <div class='checkbox'>
    <label>
      <input type='checkbox' id='userJudge' ng-model='user.roles.judge'> Jurylid?
    </label>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='addUser(user); user={}'>Toevoegen</button>
</form>

<h2>Gebruiker verwijderen</h2>
<form>
  <div class='form-group'>
    <label for='userDelete'>Gebruiker:</label>
    <select class='form-control' id='userDelete' ng-model='userForDelete'>
      <option ng-repeat='user in users' value='{{user.$id}}'>{{user.name}}</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='deleteUser(userForDelete); userForDelete=""'>Verwijderen</button>
</form>

<h2>Nieuw team toevoegen</h2>
<form>
  <div class='form-group'>
    <label for='teamName'>Naam:</label>
    <input type='text' class='form-control' id='teamName' placeholder='Voer naam in' ng-model='team.name'>
  </div>
  <div class='form-group'>
    <label for='judge'>Jurylid:</label>
    <select class='form-control' id='judge' ng-model='team.judge'>
      <option ng-repeat='user in users | filter: judgeFilter' value='{{user.$id}}'>{{user.name}}</option>
    </select>
  </div>
  <div class='form-group'>
    <label for='teamMembers'>Leden:</label>
    <select id='teamMembers' multiple='multiple' height='500px' ng-model='teamMembers'>
      <option ng-repeat='user in users | filter: eligibleMemberFilter' value="{{user.$id}}">{{user.name}}</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='addTeam(team, teamMembers); team={}'>Toevoegen</button>
</form>

<h2>Team verwijderen</h2>
<form>
  <div class='form-group'>
    <label for='teamDelete'>Team:</label>
    <select class='form-control' id='teamDelete' ng-model='teamForDelete'>
      <option ng-repeat='team in teams' value='{{team.$id}}'>{{team.name}}</option>
    </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='deleteTeam(teamForDelete); teamForDelete=""'>Verwijderen</button>
</form>

<h2>Stad toevoegen</h2>
<form>
  <div class='form-group'>
  <label for='cityAdd'>Stad:</label>
  <input type='text' class='form-control' id='cityName' placeholder='Voer stadsnaam in' ng-model='cityToAdd.name'>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='addCity(cityToAdd); cityToAdd={}'>Toevoegen</button>
</form>

<h2>Stad verwijderen</h2>
<form>
  <div class='form-group'>
  <label for='cityDelete'>Stad:</label>
  <select class='form-control' id='cityDelete' ng-model='cityForDelete'>
    <option ng-repeat='city in cities' value='{{city.$id}}'>{{city.name}}</option>
  </select>
  </div>
  <button type='submit' class='btn btn-primary' ng-click='deleteCity(cityForDelete); cityForDelete=""'>Verwijderen</button>
</form>
