      <table class="table table-striped">
        <thead>
          <tr>
            <th>Naam</th>
            <th>Jurylid</th>
            <th>Totaalbedrag</th>
            <th>Rang</th>
            <th>Laatste locatie</th>
            <th>Laatste update</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="team in teams">
            <td>{{team.name}}</td>
            <td>{{team.judge}}</td>
            <td>{{team.balance}}</td>
            <td>TODO</td>
            <td>TODO</td>
            <td>TODO</td>
          </tr>
        </tbody>
      </table>
