
<div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Leden</h3>
      </div>
      <div id="members-panel" class="panel-body">

      </div>
</div>


<div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Bedrag</h3>
      </div>
      <div id="balance-panel" class="panel-body">
	{{team.balance}}
      </div>
</div>

<div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Jurylid</h3>
      </div>
      <div id="judge-panel" class="panel-body">

      </div>
</div>

<div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Bezochte straten</h3>
      </div>
      <div id="streets-panel" class="panel-body">

      </div>
</div>

<div class="panel panel-info">
      <div class="panel-heading">
	<h3 class="panel-title">Gehaalde opdrachten</h3>
      </div>
      <div id="tasks-panel" class="panel-body">

      </div>
</div>


