<div class="panel panel-info">

  <div class="panel-heading">
     <h3 class="panel-title">Hotel toevoegen</h3>
  </div>

  <div class="panel-body">
    <form>
      <div class='form-group'>
        <select class='form-control' ng-model='addHotel.cityId'>
          <option value="" disabled selected>Selecteer een stad</option>
          <option ng-repeat='(id, city) in data.cities' value='{{id}}'>{{city.name}}</option>
        </select>
        <select ng-show='addHotel.cityId' class='form-control' ng-model='addHotel.streetId'>
          <option value="" disabled selected>Selecteer een straat</option>
          <option ng-repeat='(id, street) in data.streets' ng-show="street.city_id == addHotel.cityId && street.visitors[teamId] && !street.hotel_team_id" value='{{id}}'>{{street.name}}</option>
        </select>
      </div>
      <div ng-hide='!(addHotel.streetId)' class='form-group'>
        Tijd:
        <label>
          <input type='checkbox' ng-model='addHotel.now' ng-init="addHotel.now = true"> Nu
        </label>
        <timepicker ng-hide="addHotel.now" ng-model="addHotel.timestamp" show-meridian="false"></timepicker>
      </div>
      <div class='form-group'>
        <button ng-disabled="!(addHotel.streetId)" type='submit' class='btn btn-info' ng-click='submitAddHotel(addHotel); addHotel={now: true}'>Toevoegen</button>
      </div>
    </form>
  </div>

</div>
