<div class="panel panel-info">

  <div class="panel-heading">
     <h3 class="panel-title">Gehaalde opdracht toevoegen</h3>
  </div>

  <div id="add-task-panel" class="panel-body">
    <form>
      <div class='form-group'>
        <select class='form-control' id='task' ng-model='taskForCompletion'>
          <option value="" disabled selected>Selecteer een opdracht</option>
          <option ng-repeat='(id, task) in tasks' value='{{id}}'>{{task.name}}</option>
        </select>
      </div>
      <div class='form-group' ng-show='tasks[taskForCompletion].rankable'>
        <input type='text' class='form_control' placeholder='Waarde voor rangorde' ng-model='taskValue'>
      </div>
      <div class='form-group'>
        <button ng-disabled="!(taskForCompletion && (!tasks[taskForCompletion].rankable || taskValue))" type='submit' class='btn btn-info' ng-click='completeTask(taskForCompletion,taskValue); taskForCompletion="";taskValue=""'>Toevoegen</button>
      </div>
    </form>
  </div>

</div>
