<div class="panel panel-info">

  <div class="panel-heading">
     <h3 class="panel-title">Bezochte straat toevoegen</h3>
  </div>

  <div id="add-street-panel" class="panel-body">
    <form>
      <div class='form-group'>
        <select class='form-control' id='street' ng-model='streetForVisitCityId'>
          <option value="" disabled selected>Selecteer een stad</option>
          <option ng-repeat='(id, city) in cities' value='{{id}}'>{{city.name}}</option>
        </select>
        <select ng-show='streetForVisitCityId' class='form-control' id='street' ng-model='streetForVisit.id'>
          <option value="" disabled selected>Selecteer een straat</option>
          <option ng-repeat='(id, street) in streets' ng-show="street.city_id == streetForVisitCityId" value='{{id}}'>{{street.name}}</option>
        </select>
      </div>
      <div ng-hide='!(streetForVisit)' class='form-group'>
        Tijd:
        <label>
          <input type='checkbox' id='add_street_now' ng-model='add_street_now' ng-init="add_street_now = true"> Nu
        </label>
        <timepicker ng-hide="add_street_now" ng-model="streetForVisit.timestamp" show-meridian="false"></timepicker>
      </div>
      <div class='form-group'>
        <button ng-disabled="!(streetForVisitCityId && streetForVisit)" type='submit' class='btn btn-info' ng-click='visitStreet(streetForVisit); streetForVisit=""'>Toevoegen</button>
      </div>
    </form>
  </div>

</div>
