<div class="panel panel-info">

  <div class="panel-heading">
     <h3 class="panel-title">Bezochte straat toevoegen</h3>
  </div>

  <div class="panel-body">
    <form>
      <div class='form-group'>
        <select class='form-control' ng-model='addStreet.cityId'>
          <option value="" disabled selected>Selecteer een stad</option>
          <option ng-repeat='(id, city) in data.cities' value='{{id}}'>{{city.name}}</option>
        </select>
        <select ng-show='addStreet.cityId' class='form-control' ng-model='addStreet.streetId'>
          <option value="" disabled selected>Selecteer een straat</option>
          <option ng-repeat='(id, street) in data.streets' ng-show="street.city_id === addStreet.cityId && !street.visited[teamId]" value='{{id}}'>{{street.name}}</option>
        </select>
      </div>
      <div ng-hide='!(addStreet.streetId)' class='form-group'>
        Tijd:
        <label>
          <input type='checkbox' ng-model='addStreet.now' ng-init="addStreet.now = true"> Nu
        </label>
        <timepicker ng-hide="addStreet.now" ng-model="addStreet.timestamp" show-meridian="false"></timepicker>
      </div>
      <div class='form-group'>
        <button ng-disabled="!(addStreet.streetId)" type='submit' class='btn btn-info' ng-click='submitAddStreet(addStreet); addStreet={now: true};'>Toevoegen</button>
      </div>
    </form>
  </div>

</div>
