<div class="panel panel-info">

  <div class="panel-heading">
     <h3 class="panel-title">Hotel toevoegen</h3>
  </div>

  <div id="add-hotel-panel" class="panel-body">
    <form>
      <div class='form-group'>
        <select class='form-control' id='street' ng-model='streetForHotelCityId'>
          <option value="" disabled selected>Selecteer een stad</option>
          <option ng-repeat='(id, city) in cities' value='{{id}}'>{{city.name}}</option>
        </select>
        <select ng-show='streetForHotelCityId' class='form-control' id='street' ng-model='streetForHotel.id'>
          <option value="" disabled selected>Selecteer een straat</option>
          <option ng-repeat='(id, street) in streets' ng-show="street.city_id == streetForHotelCityId" value='{{id}}'>{{street.name}}</option>
        </select>
      </div>
      <div ng-hide='!(streetForVisit)' class='form-group'>
        Tijd:
        <label>
          <input type='checkbox' id='add_hotel_now' ng-model='add_hotel_now' ng-init="add_hotel_now = true"> Nu
        </label>
        <timepicker ng-hide="add_hotel_now" ng-model="streetForHotel.timestamp" show-meridian="false"></timepicker>
      </div>
      <div class='form-group'>
        <button ng-disabled="!(streetForHotelCityId && streetForHotel)" type='submit' class='btn btn-info' ng-click='hotelStreet(streetForHotel); streetForHotel=""'>Toevoegen</button>
      </div>
    </form>
  </div>

</div>
