<div class="panel panel-info">
  <div class="panel-heading">
     <h3 class="panel-title">Kanskaarten</h3>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Naam</th>
        <th>Type</th>
        <th>Gehaald?</th>
        <th>Eindtijd</th>
        <th>Waarde</th>
      </thead>
      <tr ng-repeat="(id, card) in data.cards" ng-show="card.received[teamId]">
        <!--span ng-repeat='card in cards | filter: {$id: teamCard.card_id}'-->
        <td>{{card.name}}</td>
        <td>
          <div ng-show="card.is_positive"><span class="glyphicon glyphicon-thumbs-up"></span></div>
          <div ng-hide="card.is_positive"><span class="glyphicon glyphicon-thumbs-down"></span></div>
        </td>
        <td>
          <button ng-hide="card.completed[teamId]" type="button" class="btn btn-default btn-xs" ng-click="completeCard(id)"><span class="glyphicon glyphicon-ok"></span></button>
          <button ng-show="card.completed[teamId]" type="button" disabled class="btn btn-success btn-xs"><span class="glyphicon glyphicon-ok"></span></button>
          {{card.completed[teamId] | date:'H:mm:ss'}}
          <button ng-show="card.completed[teamId]" type="button" class="btn btn-danger btn-xs" ng-click="uncompleteCard(id)"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <td>
          <span ng-show="!card.completed[teamId] && data.now > card.received[teamId] + data.constants.card_max_time*60*1000" class="glyphicon glyphicon-warning-sign"></span>
          {{card.received[teamId] + data.constants.card_max_time*60*1000 | date:'H:mm:ss'}}
        </td> <!-- TODO: calculate end time -->
        <td>{{(2*card.is_positive-1)*card.amount}}</td>
      </span>
      </tr>
    </table>
  </div>
</div>
