<div class="panel panel-info">
  <div class="panel-heading">
     <h3 class="panel-title">Bezochte straten</h3>
  </div>

  <div id="streets-panel" class="panel-body">
    <table class="table">
      <thead>
        <th>Naam</th>
        <th>Stad</th>
        <th>Tijd</th>
        <th>Hotel</th>
      </thead>
      <tr ng-repeat="(id, street) in data.streets" ng-show="street.visited[teamId]">
        <td>{{street.name}}</td>
        <td>{{data.cities[street.city_id].name}}</td>
        <td>{{street.visited[teamId] | date:'H:mm:ss'}}</td>
        <td><div ng-show="street.hotel_team_id == teamId"><span class="glyphicon glyphicon-home"></span> {{street.hotel_timestamp | date:'H:mm:ss'}}</div></td>
      </tr>
    </table>
  </div>

</div>
