<div class="panel panel-info">
  <div class="panel-heading">
     <h3 class="panel-title">Gehaalde opdrachten</h3>
  </div>

  <div class="panel-body">
    <table class="table">
      <thead>
        <th>Naam</th>
        <th>Aantal keer gehaald / max</th>
        <th>Beloning (per keer)</th>
        <th>Totaal</th>
        <th>Rangorde waarde</th>
      </thead>
      <tr ng-repeat="(taskId, task) in data.tasks"
          ng-show="task.repeated[teamId] > 0">

        <td>{{task.name}}</td>

        <td>
           <button type="button" class="btn btn-danger btn-xs" ng-click="decrementTask(taskId)"><span class="glyphicon glyphicon-minus"></span></button>
           {{task.repeated[teamId]}}
           /
           <span ng-show="task.rankable">1</span>
           <span ng-hide="task.rankable">{{task.repeatable}}</span>
           <span ng-hide="task.rankable"><button type="button" class="btn btn-success btn-xs" ng-click="incrementTask(taskId)"><span class="glyphicon glyphicon-plus"></span></button></span>
        </td>

        <td>{{task.rewards.join(', ')}}</td>

        <td ng-show="task.rankable"></td>
        <td ng-hide="task.rankable">{{task.rewards[0]*task.repeated[teamId]}}</td>

        <td ng-show="task.rankable && !task.editingRankValue">
          {{task.ranked[teamId]}}
          <button type="button" class="btn btn-warning btn-xs" ng-click="tasks.newRankValue = task.ranked[teamId]; task.editingRankValue = true"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
        <td ng-show="task.rankable && task.editingRankValue">
            <input type='text' class='form_control' ng-model='tasks.newRankValue'>
            <button type="button" class="btn btn-success btn-xs" ng-click="submitChangeTaskRankValue(taskId,tasks.newRankValue); task.editingRankValue = false"><span class="glyphicon glyphicon-remove"></span></button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="task.editingRankValue = false"><span class="glyphicon glyphicon-remove"></span></button>
        </td>
        <td ng-hide="task.rankable">n.v.t.</td>

      </tr>
    </table>
  </div>
</div>
